.center{
    text-align: lef;
}

.top-bar{
    background-color: #fe5c01;
    height: 100px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.finished{
    background-color: gray;
}

.locked{
    background-color: orange;
}

.unlocked{
    background-color: green;
}

.level_button{
    background-color: #92e9b3;
    border: none;
    border-radius: 10%;
    width: 100%;
    font-weight: 400;
    font-size: 19px;
    color: #000;
}

.level_status{
    color: white;
    font-size: 65px;
    margin: 2px;
}

.level_reward_icon{
    color: gold;
}

.element{
    display: inline-block;
    margin: 2px;
}
