.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 60px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  height: 60px;
  margin: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item{
  align-self: flex flex-start;
}

.level_container {
  display: grid;
  grid-template-columns: auto;
  padding: 15px;
}

.level_container_small {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 15px;
}

.level_text_small{
  margin:auto;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header_item {
  font-size: 14px;
  font-weight: 600;
}

.header_coins {
  font-size: 14px;
  font-weight: 600;
  & i {
    margin: 0 5px;
    color: hsl(24, 95%, 59%);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
  row-gap: 20px;
  column-gap: 20px;
}

.level_button {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  position: relative;
  padding: 10px;
}


.small_complete {
  background-color: rgba(172, 255, 47, 0.618);
}

.small_locked {
  background-color: rgba(128, 128, 128, 0.585);
}



.locked_circle {
  background-color: gray;
  font-size: 15px;
  color: white;
  position: absolute;
  padding: 5px;
  right: -8px;
  top: -8px;
  border-radius: 50%;
}

.complete_circle {
  background-color: greenyellow;
  font-size: 15px;
  color: white;
  position: absolute;
  padding: 5px;
  right: -8px;
  top: -8px;
  border-radius: 50%;
}
